.country_main_detail {
  margin-bottom: 2rem;
}

.country_main_box {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.country_detail_type {
  font-size: 1.1rem;
  color: var(--light-mode-text);
  font-weight: 500;
  color: var(--header-text);
  transition: all 1s;
}

.country_main_box span {
  display: block;
  margin-top: 2px;
  font-size: 1rem;
  margin-left: 5px;
  /* color:rgba(255, 255, 255, 0.818); */
  color: var(--detail-text);
  transition: color 1s;
}

@media screen and (min-width: 1000px) {
  .country_main_box {
    margin: 0.5rem 0;
  }
  .country_detail_type {
    font-size: 1rem;
  }
  .country_main_detail {
    margin-bottom: 0;
  }
}
