.country_border_countries h2 {
  padding: 1rem 0 0.5rem 0;
  font-weight: 500;
  font-size: 1rem;
  color: var(--header-text);
  transition: all 1s;
}

.country_border_box {
  display: flex;
  flex-wrap: wrap;
}
.country_border_countries span {
  margin: 0.5rem 1rem 0.5rem 0;
  padding: 0.6rem;
  border-radius: 5px;
  background-color: var(--header-background);
  color: var(--header-text);
  box-shadow: var(--box-shadow1-color);
  transition: all 1s;
}

@media screen and (min-width: 1000px) {
  .country_border_countries {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
  }

  .country_border_countries span {
    margin: 0;
    margin-left: 1rem;
    padding: 5px 10px;
  }
}

@media screen and (min-width: 1000px) {
  .country_border_countries h2 {
    padding: 0;
  }

  .country_border_countries {
    margin-top: 0.5rem;
  }
}
