.filter__region {
  margin-top: 2rem;
  max-width: 210px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  box-shadow: var(--light-mode-box);
  border-radius: 5px;
}

.down_arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  fill: var(--header-text);
  transition: fill 1s;
}

select {
  height: 60px;
  font-size: 1rem;
  padding-left: 1rem;
  width: 100%;
  appearance: none;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: var(--header-background);
  color: var(--search-text);
  box-shadow: var(--box-shadow1-color);
  transition: all 1s;
}

option {
  padding: 1rem;
}

@media screen and (min-width: 1024px) {
  .filter__region {
    margin-top: 0;
    margin-left: auto;
    width: 200px;
  }
}
