.searchCountryName {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid hsla(0, 0%, 52%, 0.418);
  overflow: hidden;
  background-color: hsl(0, 0%, 100%);
  /* padding: 1rem 0; */
  max-width: 450px;
  border: none;
  box-shadow:  var(--light-mode-box);
  height: 60px;
}

.search__country__name {
  display: none;
}

.search__logo {
  margin-inline: 1.2rem;
}

.search__logo svg {
  height: 25px;
  width: 25px;
  fill: var(--light-mode-input);
}

.search__input {
  width: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
  padding-right: 1rem;
  color: var(--light-mode-text);
}

@media screen and (min-width: 1024px) {
  .searchCountryName {
    width: 450px;
  }
}
