.filter__region {
  margin-top: 2rem;
  max-width: 210px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  box-shadow: var(--light-mode-box);
  border-radius: 5px;
}

.filter__region::after {
  content: var(--down-arrow);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

select {
  color: var(--light-mode-text);
  height: 60px;
  font-size: 1rem;
  padding-left: 1rem;
  width: 100%;
  appearance: none;
  border-radius: 10px;
  outline: none;
  border: none;
}

option {
  padding: 1rem;
}

@media screen and (min-width: 1024px) {
  .filter__region {
    margin-top: 0;
    margin-left: auto;
    width: 200px;
  }
}
