.header{
    display: flex;
    align-items: center;
    padding: 2rem 0.5rem;
    box-shadow: var(--box-shadow1-color);
    background-color: var(--header-background);
    color: var(--header-text);
    transition: all 1s;
}

.header__title{
    font-size: 1.2rem;
}

.switch-mode{
    display: flex;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
}


.mode__title{
    font-size: 1rem;
    font-weight: 500;
}


@media screen and (min-width:1024px) {
    .header{
        padding: 2rem 3rem;
    }
}