* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-background: hsl(0, 0%, 98%);
  --header-background: #ffffff;
  --header-text: hsl(200, 15%, 8%);
  --box-shadow1-color: 0px 0px 12px 0px hsla(208, 23%, 22%, 0.181);
  --search-text: hsl(0, 0%, 52%);
  --info-text: hsl(0, 0%, 52%);
  --detail-text: hsl(0, 0%, 52%);
}



body {
  margin: 0;
  background-color: var(--main-background);
  transition: background-color 1s;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 1900px) {
  body {
    max-width: 1800px;
    margin:  0 auto;
  }
}
