* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --down-arrow: url("./assets/down-arrow-svgrepo-com.svg");
  --dark-none-background: hsl(209, 23%, 22%);
  --dark-mode-background: hsl(207, 26%, 17%);
  --light-mode-text: hsl(200, 15%, 8%);
  --light-mode-input: hsl(0, 0%, 52%);
  --light-mode-background: hsl(0, 0%, 98%);
  --dark--mode-text: #ffffff;
  --lg--container-bg: #ffffff;
  --light-mode-box: 0px 0px 12px 0px hsla(208, 23%, 22%, 0.181);
}


body {
  margin: 0;
  background-color: var(--light-mode-background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
